@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Blinker', sans-serif;
  position: relative;
}

html {
  font-size: 62.5%;
}

/* global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}

/* notify */

.notify {
  color: white;
  background-color: #373737;
  padding: 1.2rem 2.2rem;
  z-index: 999999999;
  font-size: 2rem;
  position: absolute;
  transform: translate(-50%);
  top: -100%;
  left: 50%;
}

.notify.slide-in {
  animation-duration: 4s;
  animation-delay: -1s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}